Cython
google-auth
google-auth-oauthlib
imageio
matplotlib
mkl-fft
numpy
pandas
Pillow
pycocotools
pyDeprecate
scikit-image
scikit-learn
scikit-learn-extra
scipy
seaborn
torch
torchaudio
torchmetrics
torchvision
tqdm
